@font-face {
  font-family: 'iconfont';  /* project id 1970909 */
  src: url('https://at.alicdn.com/t/font_1970909_pn2czyvmjx.eot');
  src: url('https://at.alicdn.com/t/font_1970909_pn2czyvmjx.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1970909_pn2czyvmjx.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1970909_pn2czyvmjx.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1970909_pn2czyvmjx.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1970909_pn2czyvmjx.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before {
  content: "\e600";
}

.icon-tianjia:before {
  content: "\e620";
}

.icon-zhibiao:before {
  content: "\e66a";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-shanchu1:before {
  content: "\e785";
}

.icon-iconset0178:before {
  content: "\e64d";
}

.icon-dingwei:before {
  content: "\e63c";
}

.icon-baojingalarm8:before {
  content: "\e71d";
}

.icon-signal:before {
  content: "\e76b";
}

.icon-shanchu:before {
  content: "\e78d";
}

.icon-shebei:before {
  content: "\e62f";
}

.icon-lixian:before {
  content: "\e73e";
}

.icon-app_icons--:before {
  content: "\e61b";
}

.icon-shouye:before {
  content: "\e619";
}

.icon-shebei1:before {
  content: "\e617";
}

.icon-bianji:before {
  content: "\e7dd";
}

.icon-shuju:before {
  content: "\e60a";
}

.icon-shujux:before {
  content: "\e608";
}

.icon-shezhi:before {
  content: "\e64e";
}

.icon-bj:before {
  content: "\e606";
}